@model SportsPro.ViewModels.IncidentManagerViewModel
@{
    Layout = "_Layout";
}

@* TODO: Fix all possible NULL references *@

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>

<body>
    <h4>Incident Manager</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Incidents.FirstOrDefault().Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Incidents.FirstOrDefault().Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Incidents.FirstOrDefault().DateOpened)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Incidents.FirstOrDefault().DateClosed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Incidents.FirstOrDefault().Customer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Incidents.FirstOrDefault().Product)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Incidents.FirstOrDefault().Technician)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Incidents)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOpened)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateClosed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Technician.Name)
                    </td>
                    <td>
                    <td class="actions">
                        <a asp-action="IncidentForm" asp-route-id="@item.IncidentID" class="btn btn-primary btn-sm">Edit</a>
                    </td>
                    <td class="actions">
                        <a asp-action="Delete" asp-route-id="@item.IncidentID" class="btn btn-danger btn-sm">Delete</a>
                    </td>

                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="text-start mt-3">
        <a asp-action="IncidentForm" class="btn btn-primary">Add Incident</a>
    </div>
</body>

</html>